@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: white;
    --cor1: #c5edb6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    
}

header{
   background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    height: auto;
    padding: 40px; 
    text-align: center; 
    
}
header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--cor0);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.425); 
}
header > p{
    color: var(--cor0);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.521);
    
}

nav{
    background-color: var(--cor6);
    padding:10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.288) ;

    text-align: left;
}

nav a{
    text-decoration: none;
    color: var(--cor0);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor6);
}

main{
    background-color: var(--cor0);
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;

    min-width: 300px;
    max-width: 900px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width:50%;
    margin: auto;
    display:block;
}
footer{
    background-color: var(--cor6);
    color: var(--cor0);
    text-align: center;
    padding:3px;
}


